/*remove spinner from quantity input*/
.quantityPanel input[type="number"] {
    appearance: textfield;
}

.quantityPanel input[type="number"]::-webkit-inner-spin-button,
.quantityPanel input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.card h4 {
    font-size: 0.95rem;
    line-height: 1.2;
    min-height: calc(2 * 1.2em);
    font-weight: 500;
    text-align: center;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.store {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.heading {
    margin-bottom: 2rem;
    text-align: center;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    min-height: 430px;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.08);
}

.imgContainer {
    min-height: 3rem;
    display: flex;
    justify-content: center;
}

.card img {
    height: 180px;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.cardContent {
    flex: 1 1 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card p {
    font-weight: 600;
    text-align: center;
}

.properties {
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.quantityPanel {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.quantityPanel button {
    flex: 0 0 auto;
    background-color: #f3f4f6;
    color: #374151;
    border: 1px solid #d1d5db;
    font-weight: 500;
    padding: 0.4rem 0.7rem;
    border-radius: 4px;
    font-size: 0.9rem;

    transition:
        background-color 0.15s ease,
        border-color 0.15s ease,
        color 0.15s ease;
}


.quantityPanel>input {
    flex: 1 1 0;
    min-width: 0;
    text-align: center;
    padding: 0.25rem;
    border: 1px solid #d1d5db;
    border-radius: 4px;
}

.quantityPanel button,
.quantityPanel input {
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    font-size: 0.9rem;
    line-height: 1;
}

.quantityPanel button:hover,
.quantityPanel button:focus-visible {
    background-color: #e5e7eb;
    border-color: #9ca3af;
    color: #111827;
}

.btnToCart {
    margin-top: auto;
    background-color: #2563eb;
    color: #ffffff;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.added {
    background-color: #16a34a;
}


.quantityPanel input {
    outline: none;
}

.quantityPanel input:focus {
    border-color: #2563eb;
}