.sliderContainer {
    max-height: 600px;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-right: 2rem;
}

.itemContainer img {
    max-height: 360px;
    object-fit: contain;
}

.itemContainer h2 {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: #1f2933;
}